@use "../BaseComponents/CardBase.scss" as cd;
@use "../../../index.scss" as i;

.expnedu-card{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 10px;
  align-items: start;
  justify-content: center;
  background-color: i.$card-bg;
  border-radius: cd.$card-radius;
  height: fit-content;
  width: 100%;
  row-gap: 10px;
  padding: 10px;
}

.expnedu-body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.expnedu-body > p {
  color: i.$text-secondary;
}

.expnedu-header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  row-gap: 5px;
}

.expnedu-title{
  font-size: i.$font-size-text;
  font-weight: bold;
}