@use "../../index.scss" as *;

.home-base{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.home-title{
  font-size: 4rem;
  font-weight: bold;
  margin: 5px 0;
}

.home-subtitle{
  color: $text-subtitle;
  font-size: 1.5rem;
  font-weight: normal;
}

.home-bio{
  color: $text-bio;
  margin: 0 15%;
  font-size: 1.2rem;
  min-width: 300px;
}

.home-contact{
  margin: 30px 0;
  display: flex;
  gap: 20px;
}

.home-contact img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 2.5rem;
  }
  .home-subtitle {
    font-size: 1.2rem;
  }
  .home-bio {
    font-size: 1rem;
    margin: 0 10%;
  }
  .home-contact {
    gap: 10px;
  }
}