.sidebar{
  display: flex;
  width: 400px;
  height: 20px;
  box-sizing: border-box;
  margin: 10px auto;
  position: fixed;
  gap: 10px;
}

.sidebar a {
  padding: 8px;
  color: gray;
  text-decoration: none;
}

.sidebar a.active {
  color: white;
  font-weight: bold;
  border-left: 3px solid white;
}