$color-white: #ffffff;
$color-gray: #a5a5a5;
$color-dark: #07050e;

$surface-primary: #23202eb4;
$surface-secondary: #27273bc9;

$font-size-text: 1rem;
$font-size-title: 1.5rem;

$bg-page: $color-dark;
$bg-home: $color-white;

$text-primary: $color-white;
$text-secondary: $color-gray;

$navbar-bg: rgba(20, 20, 20, 0.61);
$navbar-bg-active: #0f0a14;

$card-bg: $surface-primary;
$card-bg-secondary: $surface-secondary;
$card-body: rgba($color-dark, 0.616);

$mobile-width: 769px;

:root {

  font-size: $font-size-text;

  scroll-behavior: smooth;
  
  width: 100%;

  font-family: sans-serif;
  color-scheme: light dark;
  color: $text-primary;
  background: $bg-page;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  @media (max-width: $mobile-width) {
    font-size: 16px;
  }

}

body {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0;
}