.holder-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 0 40px;
  box-sizing: border-box;
}

.section-title{
  align-items: center;
  margin: 40px 0;
}

.section-title > h1{
  margin: 5px;
}

@media (max-width: 768px) {
  
  .section-content {
    width: 100%;
  }

}